In [1]:
import pymysql
import colorExtract

In [ ]:
def insertColor(color, id):
    conn = pymysql.connect(host='127.0.0.1', user='ssafy', password='ssafy', db='kkalong', charset='utf8')
    cur = conn.cursor()
    sql = "update clothing set color = %s where clothing_id = %s"
    cur.execute(sql, (color, id));
    conn.commit()
    conn.close()

In [ ]:
conn = pymysql.connect(host='127.0.0.1', user='ssafy', password='ssafy', db='kkalong', charset='utf8')
cur = conn.cursor()
cur.execute("select * from clothing");

colorArr = []
for row in cur:
    img = row[5]
    id = row[0]
    print(row[0])
    color = colorExtract.image_preprocess(img)
    colorArr.append([color, id])
    print(color)

conn.commit()
conn.close()

In [31]:
for row in colorArr:
    insertColor(row[0], row[1])

[['민트', '스카이 블루', '네온 블루', '라벤더', '연청'], ['네이비', '보라색', '데님', '파란색', '중청', '진청'], ['화이트', '아이보리', '샌드', '베이지', '페일 핑크', '라이트 그레이', '회색'], ['네온 그린', '라이트 그린', '녹색', '올리브 그린', '카키', '다크 그린', '카키 베이지', '라이트 옐로우', '노란색', '머스타드', '카멜', '라이트 오렌지', '네온 오렌지', '주황색', '레드 브라운'], ['딥레드', '빨간색', '자주', '버건디', '갈색', '로즈 골드', '라즈베리', '네온 핑크', '분홍색', '라이트 핑크', '피치', '오렌지 핑크'], ['화이트', '아이보리', '샌드', '베이지', '페일 핑크', '라이트 그레이', '회색']]

In [3]:
import pymysql
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine

In [4]:
conn = pymysql.connect(host='127.0.0.1', user='ssafy', password='ssafy', db='kkalong', charset='utf8')
sql = "select * from clothing"
df = pd.read_sql_query(sql, conn)
# data = pd.read_sql_table('clothing', conn)
print(df[df[df['style']=='casual']['main_category'] == 1]['sub_category'])

5     101
11    104
13    104
15    102
21    104
22    108
27    106
28    104
34    102
39    104
42    107
46    105
49    104
54    105
Name: sub_category, dtype: int64

C:\Users\jws48\AppData\Local\Temp\ipykernel_28376\57397361.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql, conn)

In [25]:
import recommendCodi
recommendCodi.weatherRecommend('casual', 'F', 'fall', 29)

{'top': ['블랙', '흑청'], 'bottom': ['화이트', '아이보리', '샌드', '베이지', '페일 핑크', '라이트 그레이', '회색'], 'outer': ['블랙', '흑청'], 'shoes': ['화이트', '아이보리', '샌드', '베이지', '페일 핑크', '라이트 그레이', '회색'], 'bag': [], 'hat': []}
F
casual
fall
29

'a'

In [1]:
import recommendCodi
print(recommendCodi.top_summer)

[101, 102, 103, 104]

In [3]:
import random
a = random.choices(range(1,3), weights=[0.3, 0.3])[0]
a

2

In [80]:
import recommendCodi
result = recommendCodi.personalRecommend('casual', 'M', 'winter', 'winter')
result['shoes'].get('clothing_id')

0    26
Name: clothing_id, dtype: int64

0    10
Name: clothing_id, dtype: int64

In [10]:
import random
print(random.rand(1, 2))

1

In [3]:
import pymysql
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import random

In [92]:
conn = create_engine('mysql+pymysql://ssafy:ssafy@localhost:3306/kkalong')
# top_color = random.choice(color["top"])
sql = "select * from clothing where main_category={0} and color={1} and gender={2}".format(1, '"회색"', '"M"')
sql1 = "select * from clothing where main_category={0} and color={1} and gender={2}".format(2, '"흑청"', '"M"')
sql2 = "select * from clothing where main_category={0} and color={1} and gender={2}".format(5, '"다크 그레이"', '"M"')
sql3 = "select * from clothing where main_category={0} and color={1} and gender={2}".format(6, '"진청"', '"M"')
print(sql3)
result = pd.read_sql_query(sql, conn)
result1 = pd.read_sql_query(sql1, conn)
result2 = pd.read_sql_query(sql2, conn)
result3 = pd.read_sql_query(sql3, conn)
print("1", list(result["img"])[0])
print("2", list(result1["img"])[0])
print("3", list(result2["img"])[0])
print("4", list(result3["img"])[0])

select * from clothing where main_category=6 and color="진청" and gender="M"
1 https://firebasestorage.googleapis.com/v0/b/kkalong-b4cec.appspot.com/o/casual%2Fcasual_13.png?alt=media&token=2ae2aaca-a140-4574-b7b1-1b7080e6d8f7
2 https://firebasestorage.googleapis.com/v0/b/kkalong-b4cec.appspot.com/o/casual%2Fcasual_12.png?alt=media&token=2ae2aaca-a140-4574-b7b1-1b7080e6d8f7
3 https://firebasestorage.googleapis.com/v0/b/kkalong-b4cec.appspot.com/o/casual%2Fcasual_41.png?alt=media&token=2ae2aaca-a140-4574-b7b1-1b7080e6d8f7
4 https://firebasestorage.googleapis.com/v0/b/kkalong-b4cec.appspot.com/o/casual%2Fcasual_45.png?alt=media&token=2ae2aaca-a140-4574-b7b1-1b7080e6d8f7

In [1]:
list = [1, 2, 3, 4]
temp = [2, 3]

print(len(set(temp) & set(list)) > 0)

True